@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: bodoni;
  src: url(./assets/font/BODONI\ BK\ BT\ BOOK.TTF);
}
@font-face {
  font-family: bodoniItalic;
  src: url(./assets/font/BODONI\ BK\ BT\ BOOK\ ITALIC.TTF);
}
@font-face {
  font-family: gothic;
  src: url(./assets/font/GOTHIC.TTF);
}
@font-face {
  font-family: gothicCb;
  src: url(./assets/font/GOTHICB.TTF);
}
